@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #a9b4ec;
}

section{
    position: relative;
    border: 3px solid #3751cf;
    box-shadow: 0px 0px 10px 0px #3750cfc7;
    width: 199px;
    border-radius: 15px;
}    

section#center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

main {
    background-color: #ff8245;
    padding: 40px;
    margin: auto;
    border-radius: 15px 15px 0px 0px;
}

input {
    position: relative;
    left: -25px;
    padding: 10px 0px;
}

button {
    padding: 20px;
    border: 2px solid #ff8245;
    width: 50px;
    margin-right: -5px;
    cursor: pointer;
}

button.acoes {
    background-color: #3751cf;
}

button.numero{
    background:linear-gradient(to top,#ff8375, #f03e2a);
}
button#zero{
    background:linear-gradient(to top,#ff8375, #f03e2a);
    width: 100px;
    border-radius: 0px 0px 0px 15px;
}
button.operacoes {
    background-color: #ffa0a1;
}
button#igual {
    border-radius: 0px 0px 15px 0px;
}